<!Doctype html>
<html>
	<head>
		<title>SignIn</title>
	</head>
	<body>
		<h1>SignIn panel</h1>
		
		<form method='post' action='/validate'>
		<label>Name: &nbsp;<input type='text' name='username'/></label>
		<input type='submit' name ='submit' value='login' />
		
		</form>
	</body>
</html>